html, body {
    margin: 0px;
    background: #fdfdfd81;
   
}

.App  {
 width: 100vw;
 height: 100vh;
 margin: 0px;
 background: #fdfdfd89;
 display: flex;
 align-items: center;
 justify-content: center;
 
}



 