.receipt-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    
    
}

.receipt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 50%;
    height: 90%;


}

.receipt {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 20px;
    border: solid 0.5px black;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    
}

.receipt-header {
    display:flex;
    justify-content: center;
}

.receipt-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.receipt-date {
    margin-left: 100px;
}

.receipt-time {
    margin-right: 120px;
}



.receipt-list-items table ,tbody ,thead {
    border: 0.5px solid black;
    width: 100%;
}

.receipt-sale-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.receipt-net-total {
    font-weight: bold;
}

.receipt-footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

